* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: #1f242d;
    scroll-behavior: smooth;

}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
}

.main {
    display: flex;
    height: 45px;
    margin-bottom: 500px;
    position: fixed;
    background-color: #151f33;
    box-shadow: 0px 0px 50px;
    width: 100%;
    
}

section {
    padding: 100px;
}

.heading h1 {
    font-family: "Audiowide",sans-serif;
    text-shadow: 3px 3px 3px #151f33;
    text-transform: capitalize;
    color: aliceblue;
    margin: 10px 0 10px 25px;
}

.nav a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 1000;
    font-family:"Trirong",serif;

}

.anchor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    margin-right: 20px;    
}

.nav {
    margin: 10px
}

.nav a:hover,
a.active {
    color: rgb(3, 255, 255);
    text-shadow: 5px 5px 10px rgb(8, 8, 255);
}

/* home content  */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.written {
    font-size: 45px;
    color: aliceblue;
    /* font-family: Lato; */
    font-family: "Audiowide",sans-serif;

    margin-top: 150px;
    margin-left: 50px;
}

.written h2 {
    color: rgb(132, 0, 255);
    text-shadow: 5px 5px 20px;
}

.written span {
    color: rgb(0, 209, 228);
}

.passion:after{
    content:" " ;
    color: aqua;
    animation-name: passionn;
    animation-duration:5s;
    animation-iteration-count: infinite;
    transition:ease-in-out;
    font-weight: 500;
}
@keyframes passionn{
    0%{
        content:"D|";
    }
    4%{
        content:"De|";
    }
    8%{
        content:"Dev|";
    }
    12%{
        content:"Deve|";
    }
    16%{
        content:"Devel|";
    }
    20%{
        content:"Develo|";
    }
    24%{
        content:"Develop|" ;
    }
    28%{
        content:"Develope|"
    }
    32%{
        content:"Developer|"
    }
    36%{
        content:"Developer |"
    }
    42%{
        content:"Developer !|"
    }
    46%{
    content:"C|";        
    }
    50%{
        content:"Co|";
    }
    54%{
        content:"Cod|";
    }
    58%{
        content:"Code|";
    }
    62%{
        content:"Coder|";
    }
    64%{
        content:"Coder |"
    }
    66%{
        content:"Coder !|";
    }
    70%{
        content:"S";
    }
    74%{
        content:"St|";
    }
    78%{

    content:"Stu|";       
    }
    82%{
        content:"Stud|";
    }
    86%{
        content:"Stude|";
    }
    90%{
        content:"Studen|";
    }
    94%{
        content:"Student|";
    }
    98%{
        content:"Student |"
    }
    100%{
        content: "Student !|";
    }
}

.written p {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 80px;
    padding: 0 10px;
    width: 100%;
    max-width: 2154.4px;
    word-wrap: break-word;
}

.image img {
    border-radius: 50%;
    box-shadow: 0px 0px 500px 50px rgb(8, 18, 96);
    margin-top: -250px;
}
.fa-facebook,
.fa-instagram,
.fa-linkedin-in,
.fa-x-twitter {
    color: aliceblue;
    margin: 5px;
    font-size: 2rem;
}

.fa-facebook:active {
    color: darkblue;
    background-color: aqua;
    scale: 1.4;
}

.fa-instagram:active {
    color: rgb(200, 130, 238);
    background-color: aqua;
    scale: 1.4;
}

.fa-linkedin-in:active {
    color: darkblue;
    background-color: aqua;
    scale: 1.4;
}

.fa-x-twitter:active {
    color: black;
    background-color: aqua;
    scale: 1.4;
}

.resume {
    width: 100%;
    max-width: 250px;
    height: auto;
    border:4px;
    border-radius: 10px;
    background-color: rgb(19, 220, 255);
    box-shadow: 0px 0px 20px aqua;
    padding: 10px;
    margin: 20px auto;
    display: block;
    text-align: center;
}
.resume:hover{
    opacity: 0.8;
}
.resume a{
    font-size: 2rem;
}

a {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

/* Mobile Responsive for Home  */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .anchor {
        justify-content: center;
        margin-top: 5px;
    }

    .section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .image {
        order: -1;
        margin-top: 60px;
    }

    .image img {
        margin: 20px auto;
        width: 70%;
        max-width: 300px;
        margin-top: 120px;
    }

    .written {
        margin: 10px;
        font-size: 24px;
    }
    .passion {
        font-size:24px;
    }

    .written p {
        font-size: 18px;
        padding: 0 10px;
        margin-top: 30px;
        margin-bottom: 50px;
        width: 100%;
        word-wrap: break-word;
    }

    .icon {
        margin: 10px;
        margin-bottom: 20px;
    }

    .resume {
        width: 100%;
        height: 50px;
        max-width: 250px;
        margin: 20px auto;
        padding: 10px;
        display: flex;
        text-align: center;
        justify-content: center;
        
    }
}


/* about me side */
#aboutwrite{
    font-family: "Audiowide",sans-serif;

}
.aboutme {
    max-width: 2154.4px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #1d222d;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

#heading2 {
    font-size: 45px;
    margin-top: 100px;
    margin-bottom: 80px;
    font-family: "Trirong",serif;

    color: aqua;
    text-align: center;
    text-shadow: 0px 0px 50px rgb(0, 255, 255);
}

#pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 100px rgb(8, 18, 96);
    margin-bottom: 20px;
    
}

.aboutme p {
    font-size: 35px;
    width: 100%;
    margin-top: 80px;
    padding: 0 10px;
}

/* Mobile Responsive for About me */
@media (max-width: 768px) {
    .aboutme {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    #heading2 {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    #pic {
        width: 250px;
        height: 250px;
        margin: 0;
        margin-bottom: 30px;
    }

    .aboutme p {
        width: 100%;
        font-size: 18px;
        margin-top: 80px;
        padding: 0 10px;
    }

    .aboutme #heading2 {
        flex-basis: 100%;
    }
}

/* Skill me side  */
.skill {
    width: 100%;
    max-width: 2154.4px;
    height: auto;
    background-color:#1d222d;
}

.head h1 {
    font-size: 45px;
    color: white;
    text-shadow: 0px 0px 50px aqua;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
    font-family: "Trirong",serif;
}

.knowledge {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.knowledge img {
    width: 200px;
    margin: 30px;
}

.html,
.css,
.mysql,
.clan,
.python,
h1 {
    font-size: 29px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 50px aqua;
}

/* mobile responsive for Skill  */
@media(max-width:768px) {
    .skill {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .head h1 {
        font-size: 45px;
        text-align: center;
    }
}
/* project parts  */
.head-pro h1{
    font-size: 45px;
    font-family: "Trirong",serif;
}
.project{
    height: auto;
    width: 100%;
    margin: 0 auto;
    max-width: 2154.4px;
    background-color:#1d222d;
}
.clone-pic{
    width:200px;
    height: 200px;
    margin-top: 100px;
    box-shadow: 0px 0px  50px aqua;
    margin-bottom: 50px;

}

.clone-pic a{
    color: blueviolet;
    font-size:0.9rem;
    margin-left: 10px;
}
.b{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;    
}
#code{
    font-size:1.2rem;
    width:70px;
    box-shadow: 4px 4px 4px rgb(12, 109, 221);
    border: none;
    background-color: #151f33;
    background:linear-gradient(to right,#151f33,#151f33);
    font-style:none;
    color: aqua;
    background-position: right;
    border-radius:5px;
    transition: background-position 1s ease;
    opacity: 1;
}
#code:hover{

   background:linear-gradient(to right,#151f33,rgb(6, 54, 176));
   color: white;
   background-position: left;
   border-radius: 7px;
   transform: scale(1.2);
}


.projectdata{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.calc{
    height: 200px;
    margin-top: 100px;
    box-shadow: 0px 0px  50px aqua;
    margin-bottom: 50px;
}

.calc  a{
    color: blueviolet;
    font-size:0.9rem;
    margin-left: 10px;
}
@media(max-width:768px){
    .projectdata{
    flex-wrap: wrap;
    flex-direction:column;
    
}
}
.head-con{
    font-family: "Trirong",serif;
}

.contact{
    height: auto;
    width: 100%;
    
    align-items: center;
    max-width: 2154.4px;   
}
.quote h1{
    margin-top: 150px;
    font-size: 50px;
    width: 100%;
    text-shadow: none;
    color: aliceblue;
    font-family: cursive;
}
.contactdetail h3{
    margin: 20px;
    text-align: center;
    color: aliceblue;
    font-family: cursive;
}
.contactdetail{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    
}
.contactdetail h3{
    font-family: "outline",sans-serif;
}

.whatapp{
    margin-top: 100px;
    
}
.whatapp:active{
    opacity: 0.8;    
    scale: 1.2;
    
}
.github{
    margin-top:100px ;
    background-color: aliceblue;
    height: 100px;
    width: 100px;
    margin-right:10px ;
    border-radius: 20px;
}
.github:active{
    opacity: 0.8;    
    scale: 1.2;
    
}
.linkedin{
    margin-top: 100px;    
}

.linkedin:active{
    opacity: 0.8;    
    scale: 1.2;    
}
.mail{
    margin-top: 100px;    
}
.mail:active{
    scale: 1.2;
    opacity: 0.8;    
}
@media(max-width:768px){
    .contactdetail{
        margin: 30px;
    }
}
.clone-pica {
    border-radius: 50%;

}
